default:

    # Load hamcrest matchers
    bootstrap: 

    extensions:
        # Load a DSpec extension with short name
        mockery: ~ 
        hamcrest: 
            hamcrest.globals: true

    # The default specs to run, files or dirs relative to the cwd
    paths: [ 'spec' ]

    # Formatters, like extensions, shortname or class name as key
    formatters:
        # default progress formatter
        progress: ~
        # use the summary formatter to output to a log
        summary: 
            out: dspec.log
